/* src/components/main/Sidebar.css */

.sidebar {
  width: 250px; /* 사이드바의 너비 */
  height: 100vh; /* 화면 전체 높이 */
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff; /* 사이드바 배경 색상 */
  border-right: 0.5px solid rgba(0, 0, 0, 0.1); /* 좌측에 선 그리기 */
  z-index: 500; /* 헤더보다 낮게 설정 */
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.sidebar-menu {
  list-style-type: none; /* 기본 목록 스타일 제거 */
  padding: 0;
  margin: 0;
}

.sidebar-menu li {
  margin: 20px 0; /* 항목 간의 여백 */
  display: flex; /* 아이템을 수평 정렬 */
  align-items: center; /* 아이콘과 텍스트 세로 정렬 */
  font-size: 17px; /* 아이콘 크기 조정 */
}

.sidebar-menu li:hover {
  color: #388e3c; /* 텍스트와 아이콘 색상 변경 */
  cursor: pointer; /* 손 모양 커서 */
}

.sidebar-menu i {
  margin-right: 10px; /* 아이콘과 텍스트 사이의 간격 조정 */
  margin-left: 40px; /* 아이콘과 텍스트 사이의 간격 조정 */
  font-size: 1.3em; /* 아이콘 크기 조정 */
}
