.daily-quest {
    padding: 20px;
    background-color: #f8f4e8;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
  }
  
  .main-content {
    padding-top: 60px; /* 헤더 높이만큼 상단 여백을 추가 */
}

  .tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .tabs button {
    background-color: #e8e4d8;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tabs button:hover {
    background-color: #d8d4c8;
  }
  
  .quest-list h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .quest-list p {
    font-size: 12px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .quest-item {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .task {
    font-size: 14px;
    color: #333;
  }
  
  .reward {
    font-size: 14px;
    color: #4caf50;
  }
  