/* src/components/main/Header.css */

/* 기본적으로 헤더를 숨깁니다 */
.app-header {
  display: flex;
}

/* 노트북 화면 크기에서만 헤더가 보이도록 설정 */
@media (min-width: 769px) { /* 769px 이상의 화면 크기에서 적용 */
  .app-header.pc-header {
    display: flex;
    align-items: center;
    padding: 10px 0;
    background-color: transparent; /* 배경색 제거 */
    color: #333; /* 텍스트 색상 설정 */
    box-shadow: none; /* 그림자 제거 */
    width: calc(100% - 250px); /* 사이드바를 제외한 나머지 너비 */
    position: fixed;
    top: 0;
    right: 0;
    height: 50px; /* 헤더의 고정된 높이를 설정 */
    z-index: 1000; /* 다른 요소보다 위에 표시되도록 설정 */
    border-bottom: 0.2px solid rgba(0, 0, 0, 0.1); /* 얇은 선 */
    margin-left: 250px; /* 사이드바 너비만큼 왼쪽 여백 추가 */
  }

  .pc-header .header-content {
    display: flex;
    justify-content: flex-end; /* 아이콘을 우측에 배치 */
    align-items: center;
    width: 100%;
    padding-right: 20px; /* 오른쪽 여백 추가 */
  }

  .pc-header .logo-title {
    color: #388e3c; /* 로고 색상 설정 */
    display: flex;
    align-items: center;
    font-size: 30px;
    margin: 0;
    padding-left: 28px; /* 사이드바와의 간격 */
    padding-top: 20px; /* 위쪽 여백 추가 */
  }

  .pc-header .logo-icon {
    margin: 0 5px; /* 아이콘 주변 여백 */
  }

  .pc-header .header-icons i {
    margin-left: 15px;
    font-size: 18px;
    cursor: pointer;
    padding-right: 20px; /* 오른쪽 여백 추가 */
    color: #388e3c; /* 아이콘 색상 설정 (PC에서 초록색) */
  }
}
